[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = '*'
pyyaml = '*'
concrete-settings = {path = "."}

[dev-packages]
# self
concrete-settings = {path = "."}
# debug
pudb = '*'
# unit testing
factory_boy = '*'
pytest = "*"
pytest-mock = '*'
pytest-pudb = '*'
tox = '*'
# linters / formatters
black = "==18.9b0"
flake8 = '*'
flake8-bugbear = '*'
coverage = "*"
pytest-cov = "*"
setuptools = ">=41.0"
sphinx = '*'
typeguard = "*"
pyfakefs = "*"

[requires]
python = "3.7"
